body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px solid orange;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  /* Adjust as needed */
}

video:nth-child(odd) {
  animation-name: example;
  animation-duration: 5s;
}

.container {
  display: flex;
  height: 100vh;
}

.footer {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: orange;
}

.footer>p:nth-child(1) {
  position: fixed;
  top: 10px;
  font-size: 20px;
  color: white;
  margin-top: 0;
  margin-left: 15px;
  font-family: cursive;
}

.footer>p:nth-child(2) {
  position: fixed;
  right: 0;
  top: 10px;
  font-size: 22px;
  color: white;
  margin-right: 30px;
  margin-top: 0;
  font-family: cursive;
}

.footer>p:nth-child(3) {
  position: fixed;
  right: 0;
  top: 10px;
  font-size: 22px;
  color: white;
  margin-right: 30px;
  margin-top: 0;
  font-family: cursive;
}

.footer>p>a{
  color:white;
  text-decoration: none;
}
.left {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.v-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 100px 20px 40px 20px;
  width: 30%;
  height: 430px;
  border-radius: 30px;
  border-radius: 30px;
  border: 1px solid lightgrey;
}

.v-container>.v-container-title {
  height: auto;
  width: 100%;
  text-align: center;
  color: grey;
}

.checked {
  color: orange;
}

.v-container-stars {
  text-align: center;
}

.v-container-des {
  box-shadow: 0px 4px 2px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 10px;
  padding: 10px;
  margin: 10px;
  overflow-x: hidden;
  color: white;
  margin-bottom: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 20px;
  background-color: orange;
}

.v-container-des-top {
  height: 10px;
  padding: 10px;
  margin:6px 10px 7px 10px;
  overflow-x: hidden;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: orange;
}

h3 {
  text-align: center;
  text-transform: capitalize;
  color: white;
}

@media (max-width:1000px) {
  .v-container {
    width: 100%;
    height: 350px;
  }
  video {
    width: 100%;
    height: 200px;
  }
  .v-container:hover .middle{
    display:block;
    border-radius: 20px;
    background-color: orange;
    color:white;
    margin:30px;
    padding:10px;
    height:100px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.form-container {
  margin-top: 100px;
}

.message{
  width:60%;
  margin:auto;
  min-height:30px;
  color:white;
  font-size:20px;
}
.message>P{
  text-align: center;
  color:lightgreen;
}

.please{
  margin-top:200px;
}
.please>p{
  text-align: center;
}



.middle{
  display:none;
}

.v-container:hover video{
display: none;
}

.v-container:hover .middle{
  display:block;
  border-radius: 20px;
  background-color: orange;
  color:white;
  margin:30px;
  padding:10px;
  height:300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.middle::-webkit-scrollbar {
display: none;
}
